// Specific CSS for your home-page

// Body styling
body{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.list-title h2 {
  margin: 12px 0px;
  text-align: center;
}
.create-button {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.btn-success {
  background-color: #66DE93;
  border-color: #66DE93;
  border-radius: 4px;
  color: white;
}
