.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  font-size: 50px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 16px #000000;
}
