.card-columns .card {
  display: inline-block;
  width: 100%;
  box-sizing: content-box;
  margin-bottom: 1rem;
}
.card-columns {
  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
  column-count: 2;
  column-gap: 2.0rem;
  margin-bottom: 8px;
}
.card {
  position: flex;
  background-clip: border-box;
  border-radius: 8px;
  height: 225px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  background-size: cover;
  text-align: center;
}
.card-title h3 a {
  color: white;
}
