.card-columns .list-card {
  display: inline-block;
  width: 100%;
  box-sizing: content-box;
  margin-bottom: 1rem;
}
.card-columns {
  @include media-breakpoint-down(sm) {
    column-count: 1;
  }
  column-count: 2;
  column-gap: 2.0rem;
  margin-bottom: 8px;
}
.list-card {
  background-clip: border-box;
  border-radius: 8px;
  height: 225px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  background-size: cover;
}
.bookmark-card {
  position: flex;
  background-clip: border-box;
  border-radius: 8px;
  height: 200px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  background-size: cover;
}
.card-title a {
  font-family: "Nunito", "Helvetica", "sans-serif";
  font-weight: 500;
  color: white;
}
.card-title {
  text-align: center;
  transform: translate(0, 200%);
  font-size: 30px;
}
