.footer {
  text-align: center;
  padding: 24px;
  background-color: white;
  margin-top: auto;
  border-top: 1px solid rgba(0,0,0,0.1);
}

.footer a {
  font-size: 30px;
  color: #66DE93;
  padding: 4px;
}
